@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.logo_1:hover + .logo_2:hover + .logo_3:hover{
  fill:#f88654;
}

.product__btn{
  opacity: 0.5;
  transition: all ease 0.4s;
}

.product__btn:hover{
  cursor: pointer;
  opacity: 1;
  transition: all ease 0.4s;
}

